<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <body>
      <h1>Editing User</h1>

      <%= render 'form', user: @user %>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>

  </body>
</html>
