<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>

    <div class="bady">
        <% @posts.each do |post| %>
        <div class="heading">
          <button>test</button>
            <h2><%= link_to post.title, user_post_path(post.user, post) %></h2>
            <b><%= link_to post.user.email, user_posts_path(post.user) %></b>
            <p><%= post.created_at %></p>
            <div class="body">
            <p><%= link_to post.body, user_post_path(post.user, post) %></p>
            </div>

        </div>
        <% end %>
    </div>
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
  </body>
</html>

<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
