<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Editing Post</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Show', user_post_path %> |
    <%= link_to 'Back', user_posts_path %>
    <br>

  </body>
</html>
